	<body class="smoothscroll enable-animation menu-vertical">

		<!-- wrapper -->
		<div id="wrapper">

			<!-- SIDE MENU -->
			<div id="mainMenu" class="navbar-toggleable-md sidebar-vertical sidebar-dark">

				<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">


						<a href="/" class="logo text-center mb-0 mt-0 pt-15 pb-15 w-100p">
							<!-- .logo-xs-half = resize logo on mobile (remove if logo is already small) -->
							<%= image_tag "profile.png", class: "logo-xs-half", alt: "" %>
						</a>

				<!-- Paragraph -->
					<div class="container">
						<p class="text-center mx-auto hidden-sm-down">
							paultrindinh@icloud.com<br />
							(+33) 7 83 22 79 30
						</p>
					</div>
				
				<!-- /Paragraph -->						

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<div class="navbar-collapse sidebar-navbar-collapse collapse w-100p">

							<!-- MENU -->
							<ul class="nav navbar-nav nav-onepage">
								<li class="active">
									<a href="/">
										Home
									</a>
								</li>

							<!-- /MENU -->

						</div><!--/.nav-collapse -->

					</div>
				</div>


				<!-- Social Icons -->
				<div class="social-icons hidden-md hidden-sm-down text-center">
					<a href="https://www.linkedin.com/in/paul-trin-dinh-508537b9/" target="_blank" class="social-icon social-icon-sm social-icon-light social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>
					<a href="https://github.com/askprod" target="_blank" class="social-icon social-icon-sm social-icon-light social" data-toggle="tooltip" data-placement="top" title="Github">
						<i class="icon-github"></i>
						<i class="icon-github"></i>
					</a>
					<a href="https://soundcloud.com/askprod" target="_blank" class="social-icon social-icon-sm social-icon-light social-soundcloud" data-toggle="tooltip" data-placement="top" title="Soundcloud">
						<i class="icon-soundcloud"></i>
						<i class="icon-soundcloud"></i>
					</a>
				</div>
				<!-- /Social Icons -->

			</div>
			<!-- /SIDE MENU -->

            			<!-- ABOUT -->
				<div class="container">

					<div class="row">
						<div class="col-sm-10 offset-sm-1">

							<div class="row">

								<div class="" style="margin: 30px;">
									
									<header>									
										<h1 class="fs-30"><span>Pictures of Strangers</span></h1>
										<p class="fw-300">This is a project I will keep working on regularly. Putting myself up for the challenge is easy, but getting to those portraits is a different story. </p>
										<p class="fw-300">I've always had trouble with fear of rejection, and it's surprising how much I have to fight against that fear when I have to go up to complete strangers in the street and ask them: "Can I make your portrait?"</p>
										<p class="fw-300">This project is helping me tremendously in overcoming that unjustified fear: people are be surprised that you show some interest in them, they love the interaction, and they ask how they can participate in making the picture a better portrait!</p>
										<p class="fw-300">That does not mean I didn't or won't get any straightforward rejections, but it's teaching me how to deal with them, accept the fact that I can't have any control over what the outcome will be, and that I should not take it personnally.</p>
										<p class="fw-300">Even though some pictures aren't perfect, I find them emotionnally expressive and great as a whole. I think the benefit of the project are not the pictures themselves, but the adventure that they provide.</p>

</p>
										<p class="fw-300">I hope you enjoy this collection, and I want to thank all these strangers for their kindness, their joie de vivre, and wish them the very best for what's to come!</p>

                                    </header>

								</div>

							</div>

						</div>
					</div>
                </div>

                <div>

							<div style="margin: auto 20px;" class="masonry-gallery columns-5 clearfix lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

                            <% stranger_number = 1 %>
                            <% 24.times do %>

								<a class="image-hover">
									<%= image_tag "portrait-#{stranger_number}.jpg" %>
								</a>
                            <% stranger_number += 1 %>

                            <% end %>
																																				
							</div>

						</div>


    </body>