	<body class="smoothscroll enable-animation menu-vertical">

		<!-- wrapper -->
		<div id="wrapper">
            			<!-- ABOUT -->
				<div class="container">

					<div class="row">
						<div class="col-sm-10 offset-sm-1">

							<div class="row">

								<div class="" style="margin: 30px;">
									
									<header>									
										<h1 class="fs-30"><span>Pictures of Strangers</span></h1>
										<p class="fw-300">This is a project I will keep working on regularly. Putting myself up for the challenge is easy, but getting to those portraits is a different story. </p>
										<p class="fw-300">I've always had trouble with fear of rejection, and it's surprising how much I have to fight against that fear when I have to go up to complete strangers in the street and ask them: "Can I make your portrait?"</p>
										<p class="fw-300">This project is helping me tremendously in overcoming that unjustified fear: people are surprised that you show some interest in them, they love the interaction, and they ask how they can participate in making the picture a better portrait!</p>
										<p class="fw-300">That does not mean I didn't or won't get any straightforward rejections, but it's teaching me how to deal with them, accept the fact that I can't have any control over what the outcome will be, and that I should not take it personnally.</p>
										<p class="fw-300">Even though some pictures aren't perfect, I find them emotionnally expressive and great as a whole. I think the benefit of the project are not the pictures themselves, but the adventure that they provide.</p>

</p>
										<p class="fw-300">I hope you enjoy this collection, and I want to thank all these strangers for their kindness, their joie de vivre, and wish them the very best for what's to come!</p>

                                    </header>

								</div>

							</div>

						</div>
					</div>
                </div>

                <div>

							<div style="margin: auto 20px;" class="masonry-gallery columns-5 clearfix lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

                            <% stranger_number = 1 %>
                            <% 24.times do %>

								<a class="image-hover">
									<%= image_tag "portrait-#{stranger_number}.jpg" %>
								</a>
                            <% stranger_number += 1 %>

                            <% end %>
																																				
							</div>

						</div>


    </body>