	<body class="smoothscroll enable-animation menu-vertical">

		<!-- wrapper -->
		<div id="wrapper">

			<!-- SIDE MENU -->
			<div id="mainMenu" class="navbar-toggleable-md sidebar-vertical sidebar-dark">

				<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">


						<a href="/" class="logo text-center mb-0 mt-0 pt-15 pb-15 w-100p">
							<!-- .logo-xs-half = resize logo on mobile (remove if logo is already small) -->
							<%= image_tag "profile.png", class: "logo-xs-half", alt: "" %>
						</a>

				<!-- Paragraph -->
					<div class="container">
						<p class="text-center mx-auto hidden-sm-down">
							paultrindinh@icloud.com<br />
							(+33) 7 83 22 79 30
						</p>
					</div>
				
				<!-- /Paragraph -->						

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<div class="navbar-collapse sidebar-navbar-collapse collapse w-100p">

							<!-- MENU -->
							<ul class="nav navbar-nav nav-onepage">
								<li class="active">
									<a href="#about">
										About
									</a>
								</li>
								<li>
									<a href="#skill">
										Skills
									</a>
								</li>
								<li>
									<a href="#experience">
										Experience & Education
									</a>
								</li>
								<li>
									<a href="#my-portfolio">
										Portfolio
									</a>
								</li>
							</ul>
							<!-- /MENU -->

						</div><!--/.nav-collapse -->

					</div>
				</div>


				<!-- Social Icons -->
				<div class="social-icons hidden-md hidden-sm-down text-center">
					<a href="https://www.facebook.com/paul.trindude" target="_blank" class="social-icon social-icon-sm social-icon-light social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>
					<a href="https://github.com/askprod" target="_blank" class="social-icon social-icon-sm social-icon-light social" data-toggle="tooltip" data-placement="top" title="Github">
						<i class="icon-github"></i>
						<i class="icon-github"></i>
					</a>
					<a href="https://www.linkedin.com/in/paul-trin-dinh-508537b9/" target="_blank" class="social-icon social-icon-sm social-icon-light social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>
					<a href="https://soundcloud.com/askprod" target="_blank" class="social-icon social-icon-sm social-icon-light social-soundcloud" data-toggle="tooltip" data-placement="top" title="Soundcloud">
						<i class="icon-soundcloud"></i>
						<i class="icon-soundcloud"></i>
					</a>
				</div>
				<!-- /Social Icons -->

			</div>
			<!-- /SIDE MENU -->

			<!-- ABOUT -->
			<section id="about" class="b-0">
				<div class="container">

					<div class="row">
						<div class="col-sm-10 offset-sm-1">

							<div class="row">

								<div class="">
									
									<header>
										<h2 class="fs-25"><span>About</span></h2>									
										<h1 class="fs-30"><span>PAUL TRIN-DINH</span></h1>
										<p class="fw-300">AUDIO DESIGNER, WEB DEVELOPER</p>
									</header>

									<p class="lead">"You are not here merely to make a living. You are here in order to enable the world to live more amply, with greater vision, with a finer spirit of hope and achievement. You are here to enrich the world, and you impoverish yourself if you forget the errand."</p>


									<p>&bull; Getting involved in a project with a high-tech, yet human aspect, that could shape the world and provide a positive impact, is what I seek.</p>
									<p>&bull; I can deeply understand and relate to goals and finalities of ideas and concepts.</p>
									<p>&bull; Profoundly curious, with a sincere interest and involvement in many fields, self-learning has taught me discipline and ambition.</p>
									<p>&bull; Giving an conceptual, yet organized and structured shade to schemes I get involved in, is one of the many assets I can provide.</p>

								</div>


								<div class="col-lg-6 order-lg-1">

									<!-- 
										controlls-over		= navigation buttons over the image 
										buttons-autohide 	= navigation buttons visible on mouse hover only
										
										data-plugin-options:
											"singleItem": true
											"autoPlay": true (or ms. eg: 4000)
											"navigation": true
											"pagination": true
											"transitionStyle":"fadeUp" (fade,backSlide,goDown,fadeUp)
									-->

								</div>


							</div>

						</div>
					</div>

				</div>
			</section>
			<!-- /ABOUT -->
	
			<!-- SKILLS -->
			<section id="skill" class="parallax parallax-auto b-0" style="background-image: url('https://imageshack.com/a/img922/2999/8vfiIR.jpg')">

				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">

							<h2 class="fw-600 mt-30 mb-3 wow fadeIn" data-wow-delay="0.5s">SKILLS</h2>

						</div>

					</div>
				</div>

				<span class="raster overlay dark-3 z-index-0"><!-- dark|light overlay [0 to 9 opacity] --></span>
			</section>

			<section>

				<div class="container">

					<!-- FEATURED BOXES 3 -->
					<div class="row">
						<div class="col-md-4 col-6 mb-30">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-circle-compass"></i>
								<h4>Front</h4>
									<div class="progress" style="height: 8px;">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
									</div>	
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
							</div>
						</div>

						<div class="col-md-4 col-6 mb-30">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-piechart"></i>
								<h4>Back</h4>
									<div class="progress" style="height: 8px;">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 2%"></div>
									</div>									
								<p>"Le back est moyen."</p>
							</div>
						</div>

						<div class="col-md-4 col-6 mb-30">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-strategy"></i>						
								<h4>Development</h4>
									<div class="progress" style="height: 8px;">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
									</div>										
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
							</div>
						</div>

						<div class="col-md-4 col-6 mb-30">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-streetsign"></i>							
								<h4>Marketing</h4>
									<div class="progress" style="height: 8px;">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
									</div>		
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
							</div>
						</div>

						<div class="col-md-4 col-6 mb-30">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-bargraph"></i>
								<h4>Statistics</h4>
									<div class="progress" style="height: 8px;">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
									</div>									
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
							</div>
						</div>

						<div class="col-md-4 col-6 mb-30">
							<div class="text-center">
								<i class="ico-light ico-lg ico-rounded ico-hover et-trophy"></i>
								<h4>Winners</h4>
									<div class="progress" style="height: 8px;">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
									</div>									
								<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
							</div>
						</div>

					</div>
					<!-- /FEATURED BOXES 3 -->

				</div>

			</section>
			
			<!-- EXPERIENCE -->
			<section id="experience" class="parallax parallax-auto b-0" style="background-image: url('https://imageshack.com/a/img921/9417/XrIloZ.jpg')">


				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">

							<h2 class="fw-600 mt-30 mb-3 wow fadeIn" data-wow-delay="0.5s">EXPERIENCE</h2>

						</div>

					</div>
				</div>

				<span class="raster overlay dark-3 z-index-0"><!-- dark|light overlay [0 to 9 opacity] --></span>
			</section>

			<section>
				<div class="container">


					<div class="row">
						<div class="col-sm-10 offset-sm-1">

							<div class="timeline"><!-- .timeline-inverse = right position -->

									<!-- ITEM -->
									<div class="timeline-item timeline-item-bordered">
										
										<!-- timeline entry -->
										<div class="timeline-entry rounded"><!-- .rounded = entry -->
											15<span>Jun</span>
											<div class="timeline-vline"><!-- vertical line --></div>
										</div>
										<!-- /timeline entry -->

										<h2 class="fs-20 mb-0">Date 1</h2>
										<time class="block mb-20 fs-13" datetime="2017-06-02">June 15, 2017</time>

										<p>Text</p>

										<a href="" class="fs-14">LINK</a>
									</div>
									<!-- /ITEM -->

									<!-- ITEM -->
									<div class="timeline-item timeline-item-bordered">
										
										<!-- timeline entry -->
										<div class="timeline-entry rounded"><!-- .rounded = entry -->
											18<span>Jun</span>
											<div class="timeline-vline"><!-- vertical line --></div>
										</div>
										<!-- /timeline entry -->
										
										<h2 class="fs-20 mb-0">Date 2</h2>
										<time class="block mb-20 fs-13" datetime="2017-06-02">June 18, 2017</time>

										<p>Text</p>

										<div class="row mb-30">
											<div class="col-md-4 col-sm-4 col-6">
												<img class="img-fluid" src="" alt="image">
											</div>

											<div class="col-md-4 col-sm-4 col-6">
												<img class="img-fluid" src="" alt="image">
											</div>

											<div class="col-md-4 col-sm-4 col-12">
												<img class="img-fluid" src="" alt="image">
											</div>
										</div>

										<a href="" class="fs-14">LINK</a>
									</div>
									<!-- /ITEM -->

							
							</div>

						</div>
					</div>


				</div>
			</section>

			<!-- PORTFOLIO -->
			<section id="my-portfolio" class="parallax parallax-auto b-0" style="background-image: url('https://imageshack.com/a/img924/2028/TcxObT.jpg')">


				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						
						<div class="container text-center">

							<h2 class="fw-600 mt-30 mb-3 wow fadeIn" data-wow-delay="0.5s">PORTFOLIO</h2>

						</div>

					</div>
				</div>




				<span class="raster overlay dark-3 z-index-0"><!-- dark|light overlay [0 to 9 opacity] --></span>
			</section>

<section class="pt-30 pb-30 b-0">
				<div class="container text-center">

					<ul class="nav nav-tabs nav-bottom-border inline-block mb-0">
						<li class="nav-item">
							<a class="active" href="#code" data-toggle="tab">CODE</a>
						</li>
						<li class="nav-item">
							<a href="#music" data-toggle="tab">MUSIC</a>
						</li>
						<li class="nav-item">
							<a href="#photography" data-toggle="tab">PHOTOGRAPHY</a>
						</li>
						<li class="nav-item">
							<a href="#others" data-toggle="tab">OTHER MEDIA</a>
						</li>
					</ul>

				</div>
			</section>



			<section class="alternate b-0">
				<div class="container">

					<div class="tab-content">
						

						<!-- CODE -->
						<div class="tab-pane active" id="code">

							<div class="row">

								<div>

									<!--
										Available Height
										.h-300
										.h-350
										.h-400
										.h-450
										.h-500
										.h-550
										.h-600
										.h-650
										.h-700
										.h-750
										.h-800
									-->
Code
								</div>

							</div>

						</div>


						<!-- MUSIC -->
						<div class="tab-pane" id="music">

							<div class="row">
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/78684046&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/69562001&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/117487958&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/481204353&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/284422973&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>

								<div class="col-md-6">
									<iframe width="100%" height="110" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/283198547&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
								</div>								
							</div>

						</div>


						<!-- PHOTO -->
						<div class="tab-pane" id="photography">

							<div class="masonry-gallery columns-6 clearfix lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>																
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>
								<a class="image-hover" href="">
									<img src="" alt="...">
								</a>																																				
							</div>

						</div>

						<!-- OTHERS -->
						<div class="tab-pane" id="others">

							<div class="row">


									<!--
										Available Height
										.h-300
										.h-350
										.h-400
										.h-450
										.h-500
										.h-550
										.h-600
										.h-650
										.h-700
										.h-750
										.h-800
									-->

							</div>

						</div>

					</div>

				</div>
			</section>

			<!-- FOOTER -->
			<footer id="footer" class="fs-13">
				<div class="container">
					&copy; All Rights Reserved - Paul Trin-Dinh
				</div>
			</footer>
			<!-- /FOOTER -->


		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'plugins/';</script>
		<%= javascript_include_tag "bootstrap/js/bootstrap.min.js" %>
		<%= javascript_include_tag "jquery/jquery-3.3.1.min.js" %>
		<%= javascript_include_tag "scripts.js" %>
		
	</body>
</html>