<body class="smoothscroll enable-animation menu-vertical">

	<div id="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 offset-sm-1">
					<div class="row">
						<div style="margin: 80px 20px; text-align: justify; text-justify: inner-word;">
							<header>									
								<h1 class="text-center fs-30"><span>MAGICBUS DEVELOPMENT PROCESS</span></h1>
                                <p>The Start</p>   
                                    <p>Overview</p>
                                    <p>Getting everything ready</p>
                                    <p>Chosing and implementing the design</p>
                                    <p>Landing page and setting the number of views</p>
                                <p>CRON Jobs and the Cart</p>
                                    <p>Implementing the Cart and Order system</p>
                                    <p>Why I chose SideKiq & Redis over Heroku Scheduler</p>
                                <p>Google Cloud Service</p>
                                    <p>Active Storage and the Bucket</p>
                                    <p>Creating a social Map</p>
                                    <p>Analytics & reCaptcha</p>
                                <p>The Admin Page</p>
                                    <p>Why I chose the rails_admin gem</p>
                                <p>RGPD, TOS, and Contracts</p>
                                <p>Other Additions</p>
                                <p>Final Edits</p>
                                <p>What I've learned</p>
							</header>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div>

</body>