			<!-- SIDE MENU -->
			<div id="mainMenu" class="navbar-toggleable-md sidebar-vertical sidebar-dark">

				<div class="sidebar-nav">
					<div class="navbar navbar-default" role="navigation">


						<a href="/" class="logo text-center mb-0 mt-0 pt-15 pb-15 w-100p">
							<!-- .logo-xs-half = resize logo on mobile (remove if logo is already small) -->
							<%= image_tag "profile.png", class: "logo-xs-half", alt: "" %>
						</a>

				<!-- Paragraph -->
					<div class="container">
						<p class="text-center mx-auto">
								<br>
								paultrindinh@icloud.com
								<br>
								(+33)783227930
						</p>
					</div>
				
				<!-- /Paragraph -->						

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<div style="margin-bottom: 20px" class="text-center mx-auto">
							<%= link_to "English CV", englishcv_path, target: "_blank", class: "fs-15 fw-300" %>
							<br>
							<%= link_to "French CV", francaiscv_path, target: "_blank", class: "fs-15 fw-300" %>
						</div>

						<div class="navbar-collapse sidebar-navbar-collapse collapse w-100p">

							<!-- MENU -->
                            <% if @home_navbar %>

                            <ul class="nav navbar-nav nav-onepage">
                                <li>
                                    <a href="/">
                                        Home
                                    </a>
                                </li>
                            </ul>

                            <% else %>

							<ul class="nav navbar-nav nav-onepage">
								<li class="active">
									<a href="#about">
										About
									</a>
								</li>
								<li>
									<a href="#skill">
										Skills
									</a>
								</li>
								<li>
									<a href="#my-portfolio">
										Portfolio
									</a>
								</li>
							</ul>

                            <% end %>
                            
							<!-- /MENU -->

						</div><!--/.nav-collapse -->

					</div>
				</div>


				<!-- Social Icons -->
				<div class="social-icons hidden-md hidden-sm-down text-center">
					<a href="https://www.linkedin.com/in/paul-trin-dinh-508537b9/" target="_blank" class="social-icon social-icon-sm social-icon-light social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
						<i class="icon-linkedin"></i>
						<i class="icon-linkedin"></i>
					</a>
					<a href="https://github.com/askprod" target="_blank" class="social-icon social-icon-sm social-icon-light social" data-toggle="tooltip" data-placement="top" title="Github">
						<i class="icon-github"></i>
						<i class="icon-github"></i>
					</a>
					<a href="https://soundcloud.com/askprod" target="_blank" class="social-icon social-icon-sm social-icon-light social-soundcloud" data-toggle="tooltip" data-placement="top" title="Soundcloud">
						<i class="icon-soundcloud"></i>
						<i class="icon-soundcloud"></i>
					</a>
					<a href="https://www.instagram.com/askstreetphotography/" target="_blank" class="social-icon social-icon-sm social-icon-light social-instagram" data-toggle="tooltip" data-placement="top" title="Instagram">
						<i class="icon-instagram"></i>
						<i class="icon-instagram"></i>
					</a>
				</div>

				<!-- /Social Icons -->

			</div>
			<!-- /SIDE MENU -->
